@import "../../assets/sass/variables";


.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    height: calc(100vh - 160px);

    .contact-form{
        display: flex;
        flex-direction: column;
        .contact-input{
            padding: 5px 10px;
            border: 1px solid $lightGreen;
            border-radius: 6px;
            margin: 5px 0;
            width: 300px;

            &:focus{
                outline: 1px solid $zendevGreen;
            }
            &:active{
                outline: none;
            }
        }
    }
}

