@import "../../assets/sass/variables";


.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    height: calc(100vh - 160px);

    .contact-form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1); 
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);

        .contact-input{
            padding: 5px 10px;
            border: 1px solid $lightGreen;
            border-radius: 6px;
            margin: 5px 0;
            width: 300px;

            &:focus{
                outline: 1px solid $zendevGreen;
            }
            &:active{
                outline: none;
            }
        }

        .textarea-input{
            display: flex;

            textarea{
                padding: 5px 10px;
                border: 1px solid $lightGreen;
                border-radius: 6px;
                margin: 5px 0;
                width: 300px;
                padding-left: 30px;
                min-width: 300px;
                min-height: 200px;
                max-width: 300px;
                max-height: 200px;

                &:focus{
                    outline: 1px solid $zendevGreen;
                }
                &:active{
                    outline: none;
                }
            }
        }
        button{
            padding: 5px 10px;
            background-color: $zendevGreen;
            border: 1px solid $lightGreen;
            border-radius: 6px;
            margin: 5px 0;
            font-weight: 600;
            cursor: pointer;

            &:hover{
                opacity: 0.9;
            }
        }
        .notification{
            font-size: 0.7rem;
            margin:0;
            text-align: center;
            color: $zendevGreen;
        }
    }
}


