@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .homepage-about {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .homepage-about .about-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 50px;
}

.homepage .homepage-about .about-left h1 {
  font-size: 5rem;
  margin: 0;
}

.homepage .homepage-about .about-left h3 {
  margin: 5px 0px;
}

.homepage .homepage-about .about-left h3:nth-child(3) {
  color: #3c9;
}

.homepage .homepage-about .about-left p {
  max-width: 500px;
}

.homepage .homepage-about .about-left .about-expiriance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage .homepage-about .about-left .about-expiriance .companies p {
  border-radius: 6px;
  padding: 0 10px;
  cursor: pointer;
}

.homepage .homepage-about .about-left .about-expiriance .companies p:hover {
  color: #033;
}

.homepage .homepage-about .about-left .about-expiriance .companies .clicked {
  background-color: #d1eed5;
  font-weight: 600;
  color: #033;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.homepage .homepage-about .about-left .about-expiriance .objective .objective-top h4 {
  margin: 0;
}

.homepage .homepage-about .about-left .about-expiriance .objective .objective-top p {
  margin: 0;
}

.homepage .homepage-about .about-left .about-expiriance .objective .objective-bottom p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
}

.homepage .homepage-about .about-left .about-expiriance .objective .objective-bottom p .tick {
  font-size: 10px;
  margin-right: 5px;
}

.homepage .homepage-about .about-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .homepage-about .about-right img {
  width: 420px;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage .homepage-services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .homepage-services .services-content {
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1120px) {
  .homepage .homepage-services .services-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1035px) {
  .homepage .homepage-about {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .homepage .homepage-about .about-left {
    margin-top: 20px;
  }
  .homepage .homepage-about .about-left h1 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
  .homepage .homepage-about .about-left .about-expiriance {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homepage .homepage-about .about-left .about-expiriance .companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .homepage .homepage-about .about-left .about-expiriance .companies p {
    margin: 10px 20px 10px 0px;
  }
  .homepage .homepage-about .about-right img {
    height: 340px;
    width: 340px;
  }
  .homepage .homepage-services .services-content {
    padding: 0;
  }
}

@media screen and (max-width: 360px) {
  .homepage .homepage-services .services-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
  height: calc(100vh - 160px);
}

.contact h2 {
  text-align: center;
}

.contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.contact .contact-form .contact-input {
  padding: 5px 10px;
  border: 1px solid #d1eed5;
  border-radius: 6px;
  margin: 5px 0;
  width: 300px;
}

.contact .contact-form .contact-input:focus {
  outline: 1px solid #3c9;
}

.contact .contact-form .contact-input:active {
  outline: none;
}

.contact .contact-form .textarea-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact-form .textarea-input textarea {
  padding: 5px 10px;
  border: 1px solid #d1eed5;
  border-radius: 6px;
  margin: 5px 0;
  width: 300px;
  padding-left: 30px;
  min-width: 300px;
  min-height: 200px;
  max-width: 300px;
  max-height: 200px;
}

.contact .contact-form .textarea-input textarea:focus {
  outline: 1px solid #3c9;
}

.contact .contact-form .textarea-input textarea:active {
  outline: none;
}

.contact .contact-form button {
  padding: 5px 10px;
  background-color: #3c9;
  border: 1px solid #d1eed5;
  border-radius: 6px;
  margin: 5px 0;
  font-weight: 600;
  cursor: pointer;
}

.contact .contact-form button:hover {
  opacity: 0.9;
}

.contact .contact-form .notification {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7 0.5rem;
  margin: 0;
  text-align: center;
  color: #3c9;
}

.footer {
  width: 100%;
  height: 80px;
  bottom: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  color: rgba(0, 0, 0, 0.123);
}

.footer p:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.footer .footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-socials a {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  text-decoration: none;
  color: #000;
  position: relative;
  margin-right: 6px;
}

.footer .footer-socials a:hover {
  background-color: #3c9;
}

.footer .footer-socials .icon {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 20px;
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #fff;
  padding: 10px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar .navbar-logo {
  cursor: pointer;
}

.navbar .navbar-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-navigation a {
  text-decoration: none;
}

.navbar .navbar-navigation p {
  cursor: pointer;
  padding: 0 10px;
  font-weight: 600;
  color: #000;
}

.navbar .navbar-navigation p:hover {
  color: #3c9;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.navbar .navbar-hamburger-container {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 40;
  line-height: 30px;
  color: #000;
  padding: 20px;
}

.navbar .navbar-hamburger-container .navbar-hamburger {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 26px;
  right: 8px;
  z-index: 100;
  margin: 0 auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.navbar .navbar-hamburger-container .navbar-hamburger span {
  width: 70%;
  height: 4px;
  display: block;
  position: absolute;
  right: 5px;
  background: #3c9;
  border-radius: 4px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  top: 9px;
}

.navbar .navbar-hamburger-container .navbar-hamburger span:first-child {
  top: 0;
}

.navbar .navbar-hamburger-container .navbar-hamburger span:first-child.open {
  width: 0;
  top: 9px;
  right: 50%;
}

.navbar .navbar-hamburger-container .navbar-hamburger span:nth-child(2).open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .navbar-hamburger-container .navbar-hamburger span:nth-child(3).open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar .navbar-hamburger-container .navbar-hamburger span:last-child {
  top: 18px;
}

.navbar .navbar-hamburger-container .navbar-hamburger span:last-child.open {
  top: 9px;
  width: 0;
  right: 50%;
}

.navbar .navbar-links-mobile {
  width: 100%;
  height: 0;
  position: fixed;
  top: -200px;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}

.navbar .navbar-links-mobile.open {
  top: 80px;
  height: 150px;
}

.navbar .navbar-links-mobile .hamburger-navigation {
  text-align: center;
}

.navbar .navbar-links-mobile .hamburger-navigation a {
  text-decoration: none;
}

.navbar .navbar-links-mobile .hamburger-navigation p {
  cursor: pointer;
  padding: 0 10px;
  font-weight: 600;
  color: #000;
}

.navbar .navbar-links-mobile .hamburger-navigation p:hover {
  color: #3c9;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.active {
  background-color: #d1eed5ea;
  -webkit-backdrop-filter: saturate(180%) blur(3px);
          backdrop-filter: saturate(180%) blur(3px);
}

@media screen and (max-width: 650px) {
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px 30px;
  }
  .navbar .navbar-hamburger-container {
    right: 30px;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 25px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.project .project-image {
  height: 250px;
  width: 100%;
}

.project .project-image img {
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project .project-content {
  text-align: center;
  padding: 0 5px;
}

.project .project-content .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 20px;
}

.project .project-content .card-footer a {
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.project .project-content .card-footer a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #3c9;
}

@media screen and (max-width: 600px) {
  .project {
    width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .project {
    width: 250px;
  }
}

.input-icon {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  color: #d1eed5;
  cursor: default;
}

.input-class {
  padding-left: 30px !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

#root {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}
/*# sourceMappingURL=index.css.map */