@import "../../assets/sass/variables";

.homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .homepage-about{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .about-left{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 20px 50px;

            h1{
                font-size: 5rem;
                margin: 0;
            }
            h3{
                margin: 5px 0px;
            }
            h3:nth-child(3){
                color: $zendevGreen;
               }
            p{
                max-width: 500px;
            }

            .about-expiriance{
                display: flex;
                align-items: baseline;
                justify-content: space-between;                
                .companies{
                    
                    p{
                        border-radius: 6px;
                        padding: 0 10px;
                        cursor: pointer;
                        &:hover{
                            color: $hoverColor;
                        }
                    }

                    .clicked{
                        background-color: $lightGreen;
                        font-weight: 600;
                        color: $hoverColor;
                        transform: scale(1.15);
                    }
                }

                .objective{
                    border-left: 1px solid rgba(204, 204, 204, 0.6);
                    padding: 5px 10px;
                    .objective-top{
                        
                        h4{
                            margin:0;
                            
                        }
                        p{
                            margin:0;
                        }
                    }
                    .objective-bottom{

                        p{
                            align-items: center;
                            max-width: 350px;
                            .tick{
                                font-size: 10px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }

            }
            
            .about-right{
                display: flex;
                justify-content: center;
                align-items: center;
    
                img{
                    width: 420px;
                    height: 420px;
                    object-fit: cover;
                }
            }
        }
        
        .homepage-services{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .services-content{
                padding: 0 300px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
        }
        
    }

@media screen and (max-width: 1520px){
    .homepage{
        
         .homepage-services{
            .services-content{
                padding: 0 200px;
            }
        }
    }
}

@media screen and (max-width: 1350px){
    .homepage{
        
         .homepage-services{
            .services-content{
                padding: 0 100px;
            }
        }
    }
}
    

@media screen and (max-width: 1120px){
    .homepage{
    
        .homepage-services{
            .services-content{
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 1035px){
    .homepage{

        .homepage-about{
            height:  100%;
            .about-left{
                .companies{
                    p{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .homepage{
        .homepage-about{
            .about-left{
                margin-top: 20px;
                h1{
                    font-size: 4.5rem;
                    line-height:4rem;
                }
                .about-expiriance{
                    flex-wrap: wrap;

                    .companies{
                        display: flex;
                        p{
                            margin:10px 20px 10px 0px;
                        }
                    }
                    .objective{
                        border-left: none;
                        border-top: 1px solid rgba(204, 204, 204, 0.6);
                        padding: 5px 0;
                    }
                }
                
            }
            .about-right{
                img{
                    height: 340px;
                    width: 340px;
                }
            }
        }
        .homepage-services{
            .services-content{
                padding: 0;
            }
        }
        
    }
}

@media screen and (max-width: 360px){
    .homepage{
    
        .homepage-services{
            .services-content{
                justify-content: center;
            }
        }
    }
}
